
.container{
    display: flex;
    flex-direction: row;
}
.borderRad{
    border:  solid red;
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 35px;
}